@using MovieHub.Data
@using Microsoft.EntityFrameworkCore
@model Category
@inject ApplicationDbContext Context
@functions {

    private async Task<string> GetCategory(int movieId)
    {
        var movie= await Context.Movies.FirstOrDefaultAsync(c => c.Id == movieId);
        return movie.Title;
    }

}
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="row">
            <h2 class="col col-8">@Html.DisplayFor(model => model.Name)</h2>

            @if (User.IsInRole("Admin"))
            {
                <h2 class="col col-2">
                    <a class="btn btn-outline-dark btn-block" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </h2>

                <h2 class="col col-2">
                    <a class="btn btn-outline-danger btn-block" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </h2>
            }

        </div>
        @if (Model.Img != null)
        {
            <img id="mainImage" src="@Url.Content("~/images/categories/" + Model.Img)" class="img-fluid" alt="Heading image" />
        }
        <hr />
        
    </div>
</div>

<div class="row justify-content-center">
    <div class="col">
        @if (Model.MovieCategories != null)
        {
            foreach (var mc in Context.MovieCategories)
            {
                if (mc.CategoryId == Model.Id)
                {
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@mc.MovieId" class="stretched-link">
                        @await GetCategory(mc.MovieId)
                    </a>
                    <br>
                }
                        
            }
        }
    </div>
</div>